body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.collapsible {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border: 1px solid #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #007bff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
    vertical-align: middle;
}
.collapsible:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}

.collapsible:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    margin: 0.75rem 0;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
